{
  "meta": {
    "lastTouchedVersion": "2026.3.13",
    "lastTouchedAt": "2026-03-21T01:30:16.382Z"
  },
  "wizard": {
    "lastRunAt": "2026-03-21T01:30:16.361Z",
    "lastRunVersion": "2026.3.13",
    "lastRunCommand": "configure",
    "lastRunMode": "local"
  },
  "auth": {
    "profiles": {
      "opencode-go:default": {
        "provider": "opencode-go",
        "mode": "api_key"
      },
      "github-copilot:github": {
        "provider": "github-copilot",
        "mode": "token"
      }
    }
  },
  "models": {
    "providers": {
      "ollama": {
        "baseUrl": "http://127.0.0.1:11434/v1",
        "apiKey": "ollama-local",
        "api": "ollama",
        "models": [
          {
            "id": "qwen3.5:35b",
            "name": "qwen3.5",
            "reasoning": true,
            "input": [
              "text",
              "image"
            ],
            "contextWindow": 262144
          },
          {
            "id": "gpt-oss:20b",
            "name": "gpt-oss:20b",
            "reasoning": true,
            "input": [
              "text"
            ],
            "contextWindow": 131072
          }
        ]
      },
      "volcengine": {
        "baseUrl": "https://ark.cn-beijing.volces.com/api/coding/v3",
        "apiKey": "xxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
        "api": "openai-completions",
        "models": [
          {
            "id": "doubao-seed-2.0-code",
            "name": "doubao-seed-2.0-code",
            "reasoning": true,
            "input": [
              "text",
              "image"
            ],
            "contextWindow": 262144,
            "maxTokens": 32768
          },
          {
            "id": "doubao-seed-2.0-pro",
            "name": "doubao-seed-2.0-pro",
            "reasoning": true,
            "input": [
              "text",
              "image"
            ],
            "contextWindow": 262144,
            "maxTokens": 32768
          },
          {
            "id": "doubao-seed-2.0-lite",
            "name": "doubao-seed-2.0-lite",
            "reasoning": true,
            "input": [
              "text",
              "image"
            ],
            "contextWindow": 262144,
            "maxTokens": 32768
          }
        ]
      },
      "free-proxy": {
        "baseUrl": "http://localhost:8765/v1",
        "apiKey": "any_string",
        "api": "openai-completions",
        "models": [
          {
            "id": "auto",
            "name": "auto"
          }
        ]
      }
    }
  },
  "agents": {
    "defaults": {
      "model": {
        "primary": "opencode-go/minimax-m2.7",
        "fallbacks": [
          "volcengine/doubao-seed-2.0-pro",
          "volcengine/doubao-seed-2.0-lite",
          "opencode-go/minimax-m2.5",
          "free-proxy/auto",
          "ollama/gpt-oss:20b",
          "github-copilot/gpt-5-mini",
          "github-copilot/gpt-5.3-codex",
        ]
      },
      "models": {
        "ollama/qwen3.5:35b": {},
        "ollama/gpt-oss:20b": {},
        "volcengine/doubao-seed-2.0-pro": {},
        "volcengine/doubao-seed-2.0-lite": {},
        "opencode-go/kimi-k2.5": {
          "alias": "Kimi"
        },
        "opencode-go/glm-5": {
          "alias": "GLM"
        },
        "opencode-go/minimax-m2.5": {
          "alias": "MiniMax2.5"
        },
        "opencode-go/minimax-m2.7": {
          "alias": "MiniMax2.7"
        },
        "free-proxy/auto": {},
        "github-copilot/gpt-4o": {},
        "github-copilot/gpt-5-mini": {},
        "github-copilot/gpt-5.3-codex": {},
        "github-copilot/gpt-5.4": {},
        "github-copilot/grok-code-fast-1": {},
        "volcengine/doubao-seed-2.0-code": {}
      },
      "workspace": "/home/lichengiggs/.openclaw/workspace",
      "compaction": {
        "mode": "safeguard"
      },
      "maxConcurrent": 16
    },
    "list": [
      {
        "id": "main",
        "default": true,
        "name": "cyber 小晨",
        "workspace": "/home/lichengiggs/.openclaw/workspace",
        "agentDir": "/home/lichengiggs/.openclaw/agents/main/agent",
        "model": "volcengine/doubao-seed-2.0-pro",
        "tools": {
          "profile": "full",
          "deny": [
            "feishu_bitable_app_table",
            "feishu_bitable_app",
            "feishu_bitable_app_table_field",
            "feishu_bitable_app_table_record",
            "feishu_bitable_app_table_view",
            "feishu_calendar_calendar",
            "feishu_calendar_event",
            "feishu_calendar_event_attendee",
            "feishu_calendar_freebusy"
          ]
        }
      }
    ]
  },
  "tools": {
    "profile": "coding"
  },
  "bindings": [
    {
      "agentId": "main",
      "match": {
        "channel": "feishu",
        "accountId": "main"
      }
    }
  ],
  "commands": {
    "native": "auto",
    "nativeSkills": "auto",
    "restart": true,
    "ownerDisplay": "raw"
  },
  "session": {
    "dmScope": "per-channel-peer"
  },
  "hooks": {
    "internal": {
      "enabled": true,
      "entries": {
        "session-memory": {
          "enabled": true
        },
        "boot-md": {
          "enabled": true
        }
      }
    }
  },
  "channels": {
    "feishu": {
      "requireMention": false,
      "accounts": {
        "main": {
          "appId": "xxx",
          "appSecret": "xxx",
          "botName": "chensopenclaw"
        },
        "default": {
          "dmPolicy": "pairing",
          "groupPolicy": "open"
        }
      },
      "enabled": true,
      "streaming": true,
      "footer": {
        "elapsed": true,
        "status": true
      },
      "appId": "xxx",
      "appSecret": "xxx",
      "domain": "feishu",
      "dmPolicy": "allowlist",
      "allowFrom": [
        "xxx"
      ],
      "groupPolicy": "open"
    }
  },
  "gateway": {
    "port": 18789,
    "mode": "local",
    "bind": "loopback",
    "auth": {
      "mode": "token",
      "token": "xxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
    },
    "tailscale": {
      "mode": "off",
      "resetOnExit": false
    }
  },
  "memory": {
    "backend": "qmd"
  },
  "plugins": {
    "allow": [
      "openclaw-lark"
    ],
    "entries": {
      "feishu": {
        "enabled": false
      },
      "openclaw-lark": {
        "enabled": true
      },
      "copilot-proxy": {
        "enabled": true
      }
    },
    "installs": {
      "openclaw-lark": {
        "source": "npm",
        "spec": "@larksuite/openclaw-lark",
        "installPath": "/home/lichengiggs/.openclaw/extensions/openclaw-lark",
        "version": "2026.3.17",
        "resolvedName": "@larksuite/openclaw-lark",
        "resolvedVersion": "2026.3.17",
        "resolvedSpec": "@larksuite/openclaw-lark@2026.3.17",
        "integrity": "xxxx",
        "shasum": "xxxx",
        "resolvedAt": "2026-03-21T00:42:25.096Z",
        "installedAt": "2026-03-21T00:42:40.659Z"
      }
    }
  }
}